#home {
  padding: 80px;
  box-sizing: border-box;
  width: 100%;
}

/* Add media queries for responsiveness */
.carousel-container {
  width: 100%; /* Adjust the width to your preferred size */
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  animation: slide 10s linear infinite;
  animation-timing-function: linear;
}

.carousel-item {
  width: 100%;
  position: relative;
  animation: fadeOut 2s 8s both;
}

.carousel-item img {
  width: 100px;
  height: auto;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .carousel-container {
    width: 80%; /* Adjust the width for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .carousel-container {
    width: 90%; /* Further adjust the width for very small screens */
  }
}

.logo {
  position: relative;
  margin: 20px;
  width: 150px;
}
.ContactCard {
  min-width: 250px;
  height: 500px;
}
.image-div {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#contact-image {
  background-image: url("../assets/contactform.jpg");
  height: 96vh;
  width: 95%;
  background-size: cover;
  object-fit: cover;
  border-radius: 20px;
}
.paragraph-container {
  display: flex;
  flex-direction: column;
  margin: 30vh auto 0px 30px;
  width: 230px;
  height: 230px;
  color: white;
  font-size: 15px;
  font-family: manrope;
  word-wrap: break-word;
}
.image-paragraph2 {
  line-height: 5px;
}
.myname {
  font-size: 18px;
  font-weight: 400;
}
.mywork {
  font-size: 15px;
  font-weight: 300;
}
.paragraph-header {
  position: relative;
  color: #12192c;
  font-size: 45px;
  font-family: manrope;
  font-weight: 600;
  word-wrap: break-word;
}
.contact-container {
  display: flex;
  position: absolute;
  width: 100%;
}
.form-section {
  display: flex;

  width: 50%;
  position: relative;
  margin-left: 50px;
  align-items: center;
}
.top-message {
  line-height: 5px;
  font-family: manrope;
}
