#home {
  padding: 80px;
  box-sizing: border-box;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  padding: 2rem;
  &:hover {
    .card {
      background: radial-gradient(
        100rem circle at var(--xPos) var(--yPos),
        rgba(#00fff1, 0.4),
        transparent 15%
      );
    }
  }
  .card {
    width: 20rem;
    height: 15rem;
    background: radial-gradient(
      150rem circle at 0 0,
      rgba(#00fff1, 0),
      transparent 0%
    );
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.15s;
    &:hover {
      transform: scale(0.97);
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      background: radial-gradient(
        60rem circle at var(--xPos) var(--yPos),
        rgba(#00fff1, 0.1),
        transparent 35%
      );
      opacity: 0;
      transition: all 0.15s ease-in-out;
    }
    .card-content {
      background-color: #13161c;
      border-radius: inherit;
      transition: all 0.25s;
      height: calc(100% - 0.1rem);
      width: calc(100% - 0.1rem);
    }
  }
}

.CardContainer {
  -webkit-backdrop-filter: blur(40px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: #d9d9d903;
  border: 2px solid;
  border-color: #ffffff18;
  border-radius: 10px;
  height: 250px;
  left: 0;
  top: 0;
  transition: all 0.8s ease;
  width: 250px;
  margin-top: 20px;
}

.CardImage {
  margin: 20px;
}
.CardHeading {
  margin: 20px 0 0 20px;
  font-weight: 300;
  font-size: 22px;
}
.CardParagraph {
  margin: 5px 5px 0 20px;
  font-size: 17px;
  font-weight: 200;
}
.service-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  width: 205px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #2020236f;
  border: 2px rgb(57, 66, 91) none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.service-btn:hover {
  background-color: #0009ad;
  box-shadow: 0px 15px 20px rgba(0, 21, 255, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.service-btn:active {
  transform: translateY(-1px);
}
