.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  padding: 2rem;
  &:hover {
    .card {
      background: radial-gradient(
        100rem circle at var(--xPos) var(--yPos),
        rgba(#00fff1, 0.4),
        transparent 15%
      );
    }
  }
  .card {
    width: 20rem;
    height: 15rem;
    background: radial-gradient(
      150rem circle at 0 0,
      rgba(#00fff1, 0),
      transparent 0%
    );
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.15s;
    &:hover {
      transform: scale(0.97);
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      background: radial-gradient(
        60rem circle at var(--xPos) var(--yPos),
        rgba(#00fff1, 0.1),
        transparent 35%
      );
      opacity: 0;
      transition: all 0.15s ease-in-out;
    }
    .card-content {
      background-color: #13161c;
      border-radius: inherit;
      transition: all 0.25s;
      height: calc(100% - 0.1rem);
      width: calc(100% - 0.1rem);
    }
  }
}
