.team-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.team {
  position: relative;
  width: 100%;
  text-align: center;
  max-width: 300px;
}

.team .team-img {
  position: relative;
  font-size: 0;
  color: #ffffff;
  border-radius: 100%;
}

.team .team-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 80%;
}

.team .team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  transition: all 0.3s;
  font-size: 0;
  z-index: 1;
  opacity: 0;
  border-radius: 20px 20px 0 0;
}

.team:hover .team-social {
  opacity: 1;
}

.team .team-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 11px 0 10px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s;
  margin-top: 100px;
}

.team .team-social a:last-child {
  margin-right: 0;
}

.team:hover .team-social a {
  margin-top: 0;
}

.team .team-social a:hover {
  color: #222222;
  background: #ffffff;
}

.team .team-content {
  padding: 20px;
  background-color: #ffffff00;
  border-radius: 0 0 20px 20px;
}

.team .team-content h2 {
  margin: 0 0 5px 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
}

.team .team-content h3 {
  margin: 0 0 15px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

.team .team-content p {
  margin: 0 0 15px 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.team .team-skill {
  width: 100%;
}

.team .skill-name {
  text-align: left;
}

.team .skill-name p {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.team .skill-name p:last-child {
  float: right;
}

.team .progress {
  position: relative;
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
  background: #ffffff8e;
  border-radius: 20px;
}

.team .progress:last-child {
  margin: 0;
}

.team .progress-bar {
  position: absolute;
  width: 0%;
  height: 5px;
  top: 0;
  left: 0;
  background: #ffffff;
  transition: all 0.7s;
  z-index: 1;
  border-radius: 20px;
}

.team:hover .progress-bar.w-10 {
  width: 10%;
}

.team:hover .progress-bar.w-20 {
  width: 20%;
}

.team:hover .progress-bar.w-30 {
  width: 30%;
}

.team:hover .progress-bar.w-40 {
  width: 40%;
}

.team:hover .progress-bar.w-50 {
  width: 50%;
}

.team:hover .progress-bar.w-60 {
  width: 60%;
}

.team:hover .progress-bar.w-70 {
  width: 70%;
}

.team:hover .progress-bar.w-80 {
  width: 80%;
}

.team:hover .progress-bar.w-90 {
  width: 90%;
}

.team:hover .progress-bar.w-100 {
  width: 100%;
}
